<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>Feedit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/login.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/home.css">
     <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
    <script src="/3rdparty/jquery.js"></script>
    <script src="/3rdparty/Pagination.js"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div>
        <br/>
        &copy;&nbsp;zyl 2016
      </div>
    </footer>
  </body>
</html>


