<section class="main">
  <h4 class="info">{{ info }}</h4>
  <form id="login" method="post">
    <p class="field">
    <input type="text" name="username" placeholder="Username">
    </p>
    <p class="field">
    <input type="password" name="password" placeholder="Password">
    </p>
    <p class="submit">
    <button class="login" onclick="login()">Login</button>
    <button class="register" onclick="register()">Register</button>
    </p>
  </form>
  <script src="/login.js"></script>
</section>


