#search {
  height: 50px;
  text-align: center;
  margin: 20px auto 10px 8%;
}

#content li {
  position: relative;
  list-style-type: none;
  cursor: pointer;
  line-height: 30px;
  color: #888;
  overflow: hidden;
  padding-left: 30px;
}

#content {
  counter-reset: li; /* 初始化计数器 */
  list-style: none; /* 移除默认的计数 */
}

#content .true {
}

#content .false {
  color: #000;
}

#content li:hover,
#content .hover {
  background: rgba(238, 238, 238, 0.36);
}

#content li .title {
  margin-right: 3%;
}

.logout {
  margin-top: 20px;
  float: right;
  margin-right:20px;
}

#content li .time {
  margin-right: 55px;
}

.container {
 padding: 15px 10%;
}

.title-right {
  float: right;
  position: relative;
}
.remove {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #CD5C5C;
  border-radius: 10px;
  border: none;
  box-shadow:
  0 0 2px rgba(0,0,0,0.1),
  0 3px 2px rgba(0,0,0,0.1),
  inset 0 -3px 2px rgba(0,0,0,0.2);
  font-size: 12px;
  height: 25px;
  width: 45px;
  color: #000000;
  font-weight:bold;
  display: none;
}

#keywords {
  height: 25px;
  width: 190px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.item:before {
  position: absolute;
  width: 20px;
  text-align: right;
  top: 0;
  left: 0;
  content: counter(li);
  counter-increment: li;
}

#submit {
  background: #ffffff;
  border-radius: 2px;
  border: none;
  box-shadow:
  0 0 2px rgba(0,0,0,0.1),
  0 3px 2px rgba(0,0,0,0.1),
  inset 0 -3px 2px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  height: 30px;
  width: 70px;
  color: #777;
}

@media screen and (max-width: 500px) {
  body {
  }

  .container {
    padding: 10px 5px;
  }

  #content li .time {
    margin: 0;
  }

  .title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
  }

  #pagination li a {
    padding: 0px!important;
  }

  .footer {
    margin: 10px 0!important;
  }

  #search {
    padding-bottom: 15px;
    margin: 10px 0!important;
  }
}
